// FIREFLY 


ul.fireflies {
    z-index: 1;
    list-style:none
}

ul.fireflies li{
    position:absolute;
    top: -50px;
    left: -30px;
    width: 0.1px;
    height: 0.1px;

    background: radial-gradient(rgba(255,231,158,0.5), rgba(255,231,255,1));
    border-radius: 50%;
    box-shadow: 0 0 40px 20px rgba(255,231,158,1), inset 0 0 100px 50px rgba(255,231,158,1);

    opacity: 0.8;

    z-index: 1;
	animation: 
		leftright 52s infinite cubic-bezier(.39,.0,.63,1),
        updown 40s infinite 1.25s cubic-bezier(.39,.0,.63,1)
}

// .image-pulse  {
//     animation: pulse 3s infinite;
//     -webkit-animation: pulse 3s infinite;
//     // background: radial-gradient( rgba(150,150,150,1) 85%,rgba(255,231,158,1) 100% );
//     // background: rgba(0,0,0,.25);
// }

ul.fireflies li:nth-of-type(0){
    width: 0.5px;
    height: 0.5px;
    border-radius: 50%;

    -webkit-animation-duration: 27s, 18s;
    -moz-animation-duration: 27s, 18s;
    -ms-animation-duration: 27s, 18s;
    animation-duration: 27s, 18s;

    -webkit-animation-fill-mode: backwards, backwards;
    -moz-animation-fill-mode: backwards, backwards;
    -ms-animation-fill-mode: backwards, backwards;
    animation-fill-mode: backwards, backwards;
}

ul.fireflies li:nth-of-type(1){
    width: 0.3px;
    height: 0.3px;
    border-radius: 50%;

    -webkit-animation-delay:  1s;
    -moz-animation-delay:  1s;
    -ms-animation-delay:  1s;
    animation-delay:  1s;

    -webkit-animation-duration: 30s, 22s;
    -moz-animation-duration: 30s, 22s;
    -ms-animation-duration: 30s, 22s;
    animation-duration: 30s, 22s;

    -webkit-animation-fill-mode: backwards, backwards;
    -moz-animation-fill-mode: backwards, backwards;
    -ms-animation-fill-mode: backwards, backwards;
    animation-fill-mode: backwards, backwards;
}

ul.fireflies li:nth-of-type(2){
    width: 0.67px;
    height: 0.67px;
    border-radius: 50%;

    -webkit-animation-delay:  7s;
    -moz-animation-delay:  7s;
    -ms-animation-delay:  7s;
    animation-delay:  7s;

    -webkit-animation-duration: 35s, 28s;
    -moz-animation-duration: 35s, 28s;
    -ms-animation-duration: 35s, 28s;
    animation-duration: 35s, 28s;

    -webkit-animation-fill-mode: backwards, backwards;
    -moz-animation-fill-mode: backwards, backwards;
    -ms-animation-fill-mode: backwards, backwards;
    animation-fill-mode: backwards, backwards;
}

ul.fireflies li:nth-of-type(3){
    width: 0.98px;
    height: 0.98px;
    border-radius: 50%;

    -webkit-animation-delay:  8s;
    -moz-animation-delay:  8s;
    -ms-animation-delay:  8s;
    animation-delay:  8s;

    -webkit-animation-duration: 40s, 32s;
    -moz-animation-duration: 40s, 32s;
    -ms-animation-duration: 40s, 32s;
    animation-duration: 40s, 32s;

    -webkit-animation-fill-mode: backwards, backwards;
    -moz-animation-fill-mode: backwards, backwards;
    -ms-animation-fill-mode: backwards, backwards;
    animation-fill-mode: backwards, backwards;
}
ul.fireflies li:nth-of-type(4){
    width: 0.89px;
    height: 0.89px;
    border-radius: 50%;

    -webkit-animation-delay:  9s;
    -moz-animation-delay:  9s;
    -ms-animation-delay:  9s;
    animation-delay:  9s;

    -webkit-animation-duration: 45s, 36s;
    -moz-animation-duration: 45s, 36s;
    -ms-animation-duration: 45s, 36s;
    animation-duration: 45s, 36s;

    -webkit-animation-fill-mode: backwards, backwards;
    -moz-animation-fill-mode: backwards, backwards;
    -ms-animation-fill-mode: backwards, backwards;
    animation-fill-mode: backwards, backwards;
}

ul.fireflies li:nth-of-type(5){
    width: 0.27px;
    height: 0.27px;
    border-radius: 50%;

    -webkit-animation-delay:  15s;
    -moz-animation-delay:  15s;
    -ms-animation-delay:  15s;
    animation-delay:  15s;

    -webkit-animation-duration: 50s, 40s;
    -moz-animation-duration: 50s, 40s;
    -ms-animation-duration: 50s, 40s;
    animation-duration: 50s, 40s;

    -webkit-animation-fill-mode: backwards, backwards;
    -moz-animation-fill-mode: backwards, backwards;
    -ms-animation-fill-mode: backwards, backwards;
    animation-fill-mode: backwards, backwards;
}

ul.fireflies li:nth-of-type(6){
    width: 0.95px;
    height: 0.95px;
    border-radius: 50%;

    -webkit-animation-delay:  11s;
    -moz-animation-delay:  11s;
    -ms-animation-delay:  11s;
    animation-delay:  11s;

    -webkit-animation-duration: 55s, 42s;
    -moz-animation-duration: 55s, 42s;
    -ms-animation-duration: 55s, 42s;
    animation-duration: 55s, 42s;

    -webkit-animation-fill-mode: backwards, backwards;
    -moz-animation-fill-mode: backwards, backwards;
    -ms-animation-fill-mode: backwards, backwards;
    animation-fill-mode: backwards, backwards;
}

ul.fireflies li:nth-of-type(7){
    width: 0.06px;
    height: 0.06px;
    border-radius: 50%;

    -webkit-animation-delay:  20s;
    -moz-animation-delay:  20s;
    -ms-animation-delay:  20s;
    animation-delay:  20s;

    -webkit-animation-duration: 60s, 48s;
    -moz-animation-duration: 60s, 48s;
    -ms-animation-duration: 60s, 48s;
    animation-duration: 60s, 48s;

    -webkit-animation-fill-mode: backwards, backwards;
    -moz-animation-fill-mode: backwards, backwards;
    -ms-animation-fill-mode: backwards, backwards;
    animation-fill-mode: backwards, backwards;
}

ul.fireflies li:nth-of-type(8){
    width: 0.85px;
    height: 0.85px;
    border-radius: 50%;

    -webkit-animation-delay:  13s;
    -moz-animation-delay:  13s;
    -ms-animation-delay:  13s;
    animation-delay:  13s;

    -webkit-animation-duration: 65s, 52s;
    -moz-animation-duration: 65s, 52s;
    -ms-animation-duration: 65s, 52s;
    animation-duration: 65s, 52s;

    -webkit-animation-fill-mode: backwards, backwards;
    -moz-animation-fill-mode: backwards, backwards;
    -ms-animation-fill-mode: backwards, backwards;
    animation-fill-mode: backwards, backwards;
    }

// MOVE FIREFLIES
@keyframes leftright {
    0% {
      left: -30px !important;
    }
	17%	{
        left: 90%;
    }

    33% {left:10%;
    }
	50%	{left:50%;}
    67%	{left:70%;}
    83% {left:40%;}
    100% {
        left: 0;
    }
}

@keyframes updown {
    0% {
        top: -50px; 
        width: 4px;
        height: 4px
        }
    25%{
        bottom: 10%; 
    }
    50%{
        top: 50%;
        width: 5px;
        height: 5px
    }
    75%{
        top: 95%;
        width: 10px;
        height :10px 
    }
    100% {
        bottom: 10%;
    }
}



/* pulse */
@keyframes pulse {
0% { box-shadow: 0px 0px 5px rgba( 255,231,158,1) }
15% { box-shadow: 0px 0px 30px rgba( 255,231,158,1) }
30% { box-shadow: 0px 0px 5px rgba( 255,231,158,1) }
100% { box-shadow: 0px 0px 5px rgba( 255,231,158,1)  }
}
@-webkit-keyframes pulse {
0% { box-shadow: 0px 0px 5px rgba( 255,231,158,1)}
15% { box-shadow: 0px 0px 30px rgba( 255,231,158,1)}
30% { box-shadow: 0px 0px 5px rgba( 255,231,158,1)  }
100% { box-shadow: 0px 0px 5px rgba( 255,231,158,1)  }
}


FLICKR
    
.image-flicker {
animation: white-flicker .3s infinite;
-webkit-animation: white-flicker .3s infinite;
background: rgba(0,0,0,.5);
}

—




/* white-flicker */
@keyframes white-flicker {
0% { box-shadow: 0px 0px 24px rgba( 255,255,255,1) }
50% { box-shadow: 0px 0px 28px rgba( 255,255,180,1) }
100% { box-shadow: 0px 0px 24px rgba( 255,255,255,1) }
}
@-webkit-keyframes white-flicker {
0% { box-shadow: 0px 0px 24px rgba( 255,255,255,1) }
50% { box-shadow: 0px 0px 28px rgba( 255,255,180,1) }
100% { box-shadow: 0px 0px 24px rgba( 255,255,255,1) }
}
