// CUSTOM STYLES
// Edit here

body {
    overflow-x: hidden;
    background: linear-gradient(0deg, #6d5ba2, #a15b91) no-repeat center center fixed !important;
    background-size: 200% 200%;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
    background-size: cover;
}

#main {
    margin-top: -20rem !important;

}
#main::before {
  top: 300px !important;
}

h1, h2 {
  color: white !important;
  font-size: 2rem;

}



#header {
  margin: 1rem;
  padding-top: 4rem !important;
}

.header-container {
  width: 32rem;
  height: 5rem;
  margin: 0 auto;
  padding: 1.2rem 0;

  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 0.125em;
  text-transform: uppercase;
  text-align: center;

  color: white;
  border-top: 1.5px solid white !important;
  border-bottom: 1.5px solid white !important;
  h2 {
      font-size: 1.1em !important;
  }
}

#header h1 {
  font-size:1rem;
}
#header h2 {
  margin-top: 0.3rem;
  color: #F0E462 !important;
}

#header-content  {
  width: 100%;

}

img#headshot {
  width: 300px;
  height: auto;
  max-width: 80%;

  margin-top: 1em;
  margin-bottom: 0.4rem;
  padding: 10px;

  border: 1px solid rgba(255,255,255,0.5);

  opacity: 100% !important;
  z-index: 50 !important;
}

.header-text {
  width: 700px;
  max-width: 100%;
  height: auto;

  margin: 0 auto;
  padding: 30px 40px;

  font-size: 1.1em;
  font-weight: 400;
  letter-spacing: 0.05em;
  line-height: 1em;
  text-align: left;

  color: #05244F;
  background-color: white;

  border-radius: 20px;

  z-index: 50 !important;
}

.header-text b {
    color: #05244F !important;
}

// REMOVE BACKGROUND LINES

#header::after, #header::before {
  display: none !important;
}


// RESUME BUTTON

.resume-container {
  width: 100%;
  margin-bottom: 3em;
}

a.resume-button {
  // display: inline-block;
  width: 200px !important;
  margin-top: 40px;
  padding: 10px 50px;

  font-size: 1.2em;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  
  color: white;
  background-color: #1c87c9;
  border-radius: 10px;
  border: none;

  cursor: pointer;
}

// BACKGROUND SECTION

header.major {

  margin-top: 6em !important;
  border-radius: 20px;
  text-decoration: none;

}

.bg-header {  
  font-size: 2rem;
  font-weight: 700;
  padding: 0 0 2vmin 0;
}

header.major.last h2 {
  font-size: 2em !important;
}

header.major p {
  margin: 0 !important;
  padding: 2em !important;

  font-size: 1.4em !important;
  text-transform: none !important;
  font-weight: 400;
  text-align: left;

  color: rgb(5,36,79);
}


// SKILLS SECTION

.skills {
  border-radius: 10px;
}

div#skills-title {
  margin: 0 auto;
  padding-bottom: 15px;
  font-size: 2em;
  font-weight: 700;
  letter-spacing: 0.075em;
  text-align: center;
  color: #5b5b5b;
  z-index: 10;
}

ul.skills-languages {
  display: flex !important;
  justify-content: space-evenly;
  align-content: center;
  flex-wrap: wrap;
  // flex-grow: 1;
  
  width: 700px;
  max-width: 80%;
  margin: 0 auto;

  border-radius: 10px !important;
}

ul.skills-languages li {
  // display: inline !important;
  margin: 20px !important;
  font-weight: 700;
  text-align: center;
}
ul.skills-languages .icons {
  font-size: 4em;
}

ul.skills-languages svg {
  width: 4em;
  height: auto;
}



// PROJECTS

.project-container {
  margin-bottom: 200px;
  padding-bottom: 50px;

}

.project-container h2 {
  margin-top: 30px !important;
  margin-bottom: 0px !important;
  padding: 10px;

  background-color: #552C7A !important;

  font-size: 2em !important;
}


.feature.left .image img {
  width: 95%;
  height: auto;
  // left: -5% !important;
}

.feature.right .image img {
  width: 95%;
  height: auto;
  // left: -5% !important;
}

.feature.left, .feature.right {
    background-color: white;

}

.feature.left .image:hover,   .feature.right .image:hover {
  -webkit-filter: brightness(1.3) saturate(0.8);
  filter: brightness(1.3) saturate(0.8);
  transition: 0.5s;
}


// FOOTER

#footer {
  background-color: #572963 !important;
  // background-color: #342857;
}


#footer a {
  font-size: 2em;
}



a.icon.brands {
  font-size: 2em !important;
}


// .typewriter h1 {
//   // color: black !important;
//   // font-size: 1rem;
//   overflow: hidden; /* Ensures the content is not revealed until the animation */
//   // border-right: .15em solid orange; /* The typwriter cursor */
//   white-space: nowrap; /* Keeps the content on a single line */
//   margin: 0 auto; /* Gives that scrolling effect as the typing happens */
//   // letter-spacing: .15em; /* Adjust as needed */
//   animation: 
//     typing 1.5s steps(40, end),
//     blink-caret .75s step-end infinite;
// }

/* The typing effect */
// @keyframes typing {
//   from { width: 0 }
//   to { width: 100% }
// }

/* The typewriter cursor effect */
// @keyframes blink-caret {
//   from, to { border-color: transparent }
//   50% { border-color: orange; }
// }

// ------------------------------------------------------------------
// MEDIA QUERIES


@media screen and (max-width: 1600px) {
    header.major {
      margin-top: 1em;
    }

    #header p {
      font-size: 1.5em !important;
    }

    .header-container {
      width: 30rem;
      max-width: 80%;
      font-size: 3rem;

      border-top: 1px solid white !important;
      border-bottom: 1px solid white !important;

    }
}

@media screen and (max-width: 760px) {


    .header-container {

      font-size: 2.1rem;


    }
}
