body {
  background-color: #05244F;
  margin: 0;
  overflow: hidden; }

h1, h2 {
  color: white !important; }

h1 {
  font-size: 2em !important; }

h2 {
  font-size: 1.3em !important;
  margin-top: -0.5em !important; }

#header {
  background-color: black; }

#header h1 {
  z-index: 2; }

#header-content h1 {
  z-index: 2; }

.video-container {
  height: 100%;
  width: auto;
  overflow: hidden;
  position: relative; }

video {
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  top: 0;
  left: 0;
  z-index: -1; }

#headshot {
  width: 300px;
  height: auto;
  max-width: 80%;
  margin-top: 3em;
  padding: 10px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  z-index: 2; }

.header-text {
  width: 700px;
  height: auto;
  max-width: 90%;
  margin: 0 auto;
  padding: 20px 40px;
  font-size: 0.8em;
  font-weight: 400;
  letter-spacing: 0.05em;
  line-height: 1em;
  text-align: left;
  color: #05244F;
  background-color: white;
  opacity: 0.8;
  border-radius: 5px;
  z-index: 2; }

.header-text b {
  color: #05244F !important; }

.resume-container {
  width: 100%;
  margin-bottom: 3em; }

a.resume-button {
  width: 200px !important;
  margin-top: 40px;
  padding: 10px 50px;
  font-size: 1.2em;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  color: white;
  background-color: #1c87c9;
  border-radius: 10px;
  border: none;
  cursor: pointer; }

header.major {
  opacity: 0.9; }

header.major p {
  margin: 0 !important;
  padding: 1em !important;
  font-size: 1.4em !important; }

.skills-languages {
  display: flex;
  justify-content: space-evenly;
  align-content: flex-start;
  flex-grow: 1;
  width: 700px;
  max-width: 80%;
  margin: 0 auto; }

.skills-languages li {
  margin: 20px;
  font-weight: 700;
  text-align: center; }

.skills-languages .icons {
  font-size: 4em; }

.skills-languages svg {
  width: 4em;
  height: auto; }

.project-container {
  margin-bottom: 100px; }

.project-container h2 {
  margin-top: 30px !important;
  margin-bottom: 0px !important;
  padding: 10px;
  background-color: rgba(5, 36, 79, 0.5) !important;
  font-size: 2em !important; }

.feature.left, .feature.right {
  background-color: white; }

.feature.left .image:hover {
  -webkit-filter: saturate(0.5);
  filter: brightness(0.8) blur(1px); }

#footer {
  background-color: #05244F !important; }

a.icon.brands {
  font-size: 2em !important; }

ul.fireflies {
  list-style: none; }

li {
  width: 21px;
  top: -20px;
  height: 21px;
  position: absolute;
  background-color: #FFBF00;
  border-radius: 10px;
  box-shadow: 0 0 40px 20px #fff, 0 0 100px 50px #0ff;
  animation: leftright 24s infinite cubic-bezier(0.39, 0, 0.63, 1), updown 8s infinite 1.25s cubic-bezier(0.39, 0, 0.63, 1); }

li:nth-of-type(2) {
  width: 10px;
  height: 10px;
  border-radius: 10px;
  animation-delay: 4s;
  animation-duration: 27s, 8s;
  animation-fill-mode: backwards, backwards; }

li:nth-of-type(3) {
  animation-delay: 1.5s;
  animation-duration: 24s, 18s;
  animation-fill-mode: backwards, backwards; }

li:nth-of-type(4) {
  animation-delay: 5.5s;
  animation-duration: 30s, 13s; }

li:nth-of-type(5) {
  animation-fill-mode: backwards, backwards;
  animation-duration: 32s, 15s; }

li:nth-of-type(6) {
  animation-fill-mode: backwards, backwards;
  animation-duration: 42s, 15s; }

@keyframes leftright {
  0%, 100% {
    left: 20%; }
  16.666% {
    left: 90%; }
  33.333% {
    left: 10%; }
  50% {
    left: 50%; }
  66.666% {
    left: 70%; }
  83.333% {
    left: 40%; } }

@keyframes updown {
  0%, 100% {
    top: 0px;
    width: 20px;
    height: 20px; }
  25% {
    top: 70%; }
  50% {
    top: 50%;
    width: 30px;
    height: 30px; }
  75% {
    top: 70%;
    width: 10px;
    height: 10px; } }
