body {
  background: linear-gradient(0deg, #6d5ba2, #6d5ba2, #a15b91) no-repeat center center fixed !important;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-animation: AnimationName 30s ease infinite;
  -moz-animation: AnimationName 30s ease infinite;
  animation: AnimationName 30s ease infinite; }

@-webkit-keyframes AnimationName {
  0% {
    background-position: 59% 0%; }
  50% {
    background-position: 42% 100%; }
  100% {
    background-position: 59% 0%; } }

@-moz-keyframes AnimationName {
  0% {
    background-position: 59% 0%; }
  50% {
    background-position: 42% 100%; }
  100% {
    background-position: 59% 0%; } }

@keyframes AnimationName {
  0% {
    background-position: 59% 0%; }
  50% {
    background-position: 42% 100%; }
  100% {
    background-position: 59% 0%; } }

h1, h2 {
  color: white !important;
  z-index: 5; }

h1 {
  font-size: 2em !important; }

h2 {
  font-size: 1.3em !important;
  margin-top: -0.5em !important; }

#header {
  z-index: 5; }

#header h1 {
  z-index: 5; }

#header-content h1 {
  z-index: 5; }

#headshot {
  width: 300px;
  height: auto;
  max-width: 80%;
  margin-top: 3em;
  padding: 10px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  z-index: 5; }

.header-text {
  width: 700px;
  height: auto;
  max-width: 90%;
  margin: 0 auto;
  padding: 30px 40px;
  font-size: 0.8em;
  font-weight: 400;
  letter-spacing: 0.05em;
  line-height: 1em;
  text-align: left;
  color: #05244F;
  background-color: white;
  border-radius: 20px;
  z-index: 2; }

.header-text b {
  color: #05244F !important; }

.resume-container {
  width: 100%;
  margin-bottom: 3em; }

a.resume-button {
  width: 200px !important;
  margin-top: 40px;
  padding: 10px 50px;
  font-size: 1.2em;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  color: white;
  background-color: #1c87c9;
  border-radius: 10px;
  border: none;
  cursor: pointer; }

header.major {
  border-radius: 20px;
  text-decoration: none; }

header.major p {
  margin: 0 !important;
  padding: 1em !important;
  font-size: 1.4em !important;
  text-transform: none !important; }

.skills-languages {
  display: flex;
  justify-content: space-evenly;
  align-content: flex-start;
  flex-grow: 1;
  width: 700px;
  max-width: 80%;
  margin: 0 auto;
  border-radius: 10px; }

.skills-languages li {
  margin: 20px !important;
  font-weight: 700;
  text-align: center; }

.skills-languages .icons {
  font-size: 4em; }

.skills-languages svg {
  width: 4em;
  height: auto; }

.project-container {
  margin-bottom: 200px;
  padding-bottom: 50px; }

.project-container h2 {
  margin-top: 30px !important;
  margin-bottom: 0px !important;
  padding: 10px;
  background-color: rgba(5, 36, 79, 0.5) !important;
  font-size: 2em !important; }

.feature.left, .feature.right {
  background-color: white; }

.feature.left .image:hover {
  -webkit-filter: saturate(0.5);
  filter: brightness(0.8) blur(1px); }

#footer {
  background-color: #342857 !important; }

a.icon.brands {
  font-size: 2em !important; }
